<!-- フッターここから -->
<footer class="l-footer">
  <div class="p-footer">
    <div class="p-footer__inner">
      <p>©︎cresta.design all rights reserved</p>
    </div>
  </div>
</footer>
<!-- フッターここまで -->
<!-- jQuery -->
<script src="<%= path %>/js/jQuery/jquery-3.5.0.min.js"></script>
<script src="<%= path %>/js/main.js"></script>
</body>

</html>