<!-- フッターここから -->
<footer class="l-footer">
  <div class="p-footer">
    <div class="p-footer__inner">
      <div class="p-footer__icon-container">
        <a href="#">
          <i class="fab fa-twitter c-sns-icon"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook c-sns-icon"></i>
        </a>
      </div>
      <div class="p-footer__link-container">
        <a href="#">サイトマップ</a>
        <a href="#">個人情報保護方針</a>
        <a href="#">プライバシーポリシー</a>
      </div>
      <a href="#" class="p-footer__logo">
        HANIWAMAN Corp.
      </a>
      <p class="p-footer__copyright">© Haniwaman Landing page Sample.</p>
    </div>
  </div>
</footer>
<!-- フッターここまで -->
<!-- jQuery -->
<script src="<%= path %>/js/jQuery/jquery-3.5.0.min.js"></script>
<script src="<%= path %>/js/plugin/slick.min.js"></script>
<script src="<%= path %>/js/main.js"></script>
</body>

</html>