@charset "UTF-8";
/*! ===============================================================
※※※※※※※※※※※※※※※※※※※※※※※※※※※※
このCSSファイルはSassから生成されています！
編集しないようご注意ください。
※※※※※※※※※※※※※※※※※※※※※※※※※※※※
================================================================ */
/* ===============================================================
  Foundation
  基本的なスタイルの定義
================================================================ */
/* ================================================================
  リセットCSS
   ================================================================ */
/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  background-repeat: no-repeat;
}

::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
}

hr {
  height: 0;
  overflow: visible;
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  border-bottom: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input {
  border-radius: 0;
}

[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"],
[type="button"],
[type="reset"],
[type="submit"],
button {
  color: inherit;
  cursor: pointer;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  display: table;
  max-width: 100%;
  color: inherit;
  white-space: normal;
  border: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  color: inherit;
  -webkit-appearance: button;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

/* ================================================================
  ベース
   ================================================================ */
html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", "游ゴシック体", "Yu Gothic", sans-serif;
  font-size: 1.6rem;
}

main {
  display: block;
}

img {
  max-width: 100%;
}

button:focus {
  outline: 0;
}

/* ================================================================
  メディアクエリ
   ================================================================ */
/* ================================================================
  変数の定義
   ================================================================ */
/* ===============================================================
  Layout
  レイアウト
================================================================ */
/* ================================================================
  フッターレイアウト
   ================================================================ */
.l-footer {
  width: 100%;
  margin-top: auto;
}

/* ================================================================
  ヘッダーレイアウト
   ================================================================ */
.l-header {
  position: fixed;
  z-index: 100;
  width: 100%;
}

/* ================================================================
  メインレイアウト
   ================================================================ */
.l-main {
  width: 100%;
  margin: auto;
}

/* ===============================================================
  Component
  コンポーネント
================================================================ */
/* ===================================================================
  ボタンコンポーネント
   =================================================================== */
.c-button--contact {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  background-color: #ffaa3b;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px #3e3e3e33;
  box-shadow: 0 3px 5px #3e3e3e33;
}

@media print, screen and (min-width: 768px) {
  .c-button--contact {
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .c-button--contact:hover {
    background: #ff9100;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.c-button--contact a,
.c-button--contact input {
  display: block;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.03em;
  border-radius: 10px;
}

.c-button--default-white-letter {
  width: 311px;
  height: 54px;
  text-align: center;
  background: #3e3e3e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media print, screen and (min-width: 768px) {
  .c-button--default-white-letter:hover {
    background: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.c-button--default-white-letter a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 54px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.36em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media print, screen and (min-width: 768px) {
  .c-button--default-white-letter a:hover {
    color: #3e3e3e;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.c-button--default-black-letter {
  width: 311px;
  height: 54px;
  text-align: center;
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media print, screen and (min-width: 768px) {
  .c-button--default-black-letter:hover {
    background: #3e3e3e;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.c-button--default-black-letter a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 54px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.36em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media print, screen and (min-width: 768px) {
  .c-button--default-black-letter a:hover {
    color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

/* ===================================================================
  テキストコンポーネント
   =================================================================== */
.c-text {
  font-size: 1.4rem;
  font-weight: 400;
  color: #3e3e3e;
}

@media print, screen and (min-width: 768px) {
  .c-text {
    font-size: 1.8rem;
  }
}

.c-text__section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #3e3e3e;
  text-align: center;
  letter-spacing: 0;
}

@media print, screen and (min-width: 768px) {
  .c-text__section-title {
    font-size: 3.6rem;
  }
}

/* ===============================================================
  Project
  プロジェクト
================================================================ */
/* ================================================================
  accessコンテンツ
   ================================================================ */
.p-access {
  position: relative;
  height: 574px;
  background-color: #f3f3f3;
}

@media print, screen and (min-width: 768px) {
  .p-access {
    height: 774px;
  }
}

.p-access__bg {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 574px;
  background: #3e3e3e;
}

@media print, screen and (min-width: 768px) {
  .p-access__bg {
    width: 980px;
    height: 566px;
  }
}

.p-access__inner {
  position: relative;
  z-index: 11;
  width: 100%;
  max-width: calc((343 / 375) * 100%);
  padding: 40px 0;
  margin: auto;
}

@media print, screen and (min-width: 768px) {
  .p-access__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: calc((1180 / 1366) * 100%);
    padding: 128px 0;
  }
}

.p-access__text-container {
  margin-bottom: 15px;
}

@media print, screen and (min-width: 768px) {
  .p-access__text-container {
    position: relative;
    z-index: 20;
    margin: 0 50px 0 0;
  }
}

.p-access__section-title {
  margin-bottom: 34px;
  color: #fff;
  text-align: left;
}

@media print, screen and (min-width: 768px) {
  .p-access__section-title {
    margin-bottom: 38px;
  }
}

.p-access__address {
  font-size: 1.2rem;
  line-height: 2;
  color: #fff;
}

@media print, screen and (min-width: 768px) {
  .p-access__address {
    margin-bottom: 38px;
    font-size: 1.6rem;
    line-height: calc(26 / 16);
  }
}

.p-access__google-map {
  margin-bottom: 36px;
}

@media print, screen and (min-width: 768px) {
  .p-access__google-map {
    position: relative;
    z-index: 20;
    width: calc(720 / 1180 * 100%);
    -webkit-box-shadow: 0 0 10px #3e3e3e33;
    box-shadow: 0 0 10px #3e3e3e33;
  }
}

.p-access__google-map iframe {
  width: 100%;
  height: 241px;
}

@media print, screen and (min-width: 768px) {
  .p-access__google-map iframe {
    height: 515px;
  }
}

.p-access__button {
  width: 343px;
  margin: auto;
  border: 1px solid #707070;
}

@media print, screen and (min-width: 768px) {
  .p-access__button {
    width: 326px;
    height: 64px;
  }
}

@media print, screen and (min-width: 768px) {
  .p-access__button a {
    line-height: 64px;
  }
}

@media print, screen and (min-width: 768px) {
  .p-access__button--sp {
    display: none;
  }
}

.p-access__button--pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  .p-access__button--pc {
    display: block;
  }
}

/* ================================================================
  commentsコンテンツ
   ================================================================ */
.p-comments {
  position: relative;
  height: 510px;
  background: #f3f3f3;
}

@media print, screen and (min-width: 768px) {
  .p-comments {
    height: 746px;
  }
}

.p-comments__bg {
  position: absolute;
  top: 60px;
  width: 100vw;
  height: 450px;
  background: #3e3e3e;
}

@media print, screen and (min-width: 768px) {
  .p-comments__bg {
    top: 150px;
    z-index: 10;
    width: 980px;
    height: 596px;
  }
}

@media print, screen and (min-width: 768px) {
  .p-comments__inner {
    position: relative;
    max-width: 1180px;
    margin: auto;
  }
}

.p-comments__container {
  position: relative;
  z-index: 20;
  max-width: calc((343 / 375) * 100%);
  padding: 40px 20px 9px;
  margin: -60px auto 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #00000029;
  box-shadow: 0 0 10px #00000029;
}

@media print, screen and (min-width: 768px) {
  .p-comments__container {
    max-width: 644px;
    padding: 80px 40px 52px;
    margin: 0;
  }
}

.p-comments__section-title {
  width: 100%;
  margin: 0 auto 40px;
  text-align: left;
}

@media print, screen and (min-width: 768px) {
  .p-comments__section-title {
    margin: 0 auto 80px;
  }
}

.p-comments__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto 30px;
}

@media print, screen and (min-width: 768px) {
  .p-comments__content {
    margin: 0 auto 76px;
  }
}

.p-comments__content-image {
  width: 56px;
}

@media print, screen and (min-width: 768px) {
  .p-comments__content-image {
    width: 100px;
  }
}

.p-comments__content-text {
  width: calc(221 / 301 * 100%);
  margin-left: 24px;
  font-size: 1.4rem;
  line-height: calc(22 / 14);
}

@media print, screen and (min-width: 768px) {
  .p-comments__content-text {
    width: 414px;
    margin-left: 50px;
    font-size: 1.6rem;
    line-height: calc(26 / 16);
  }
}

.p-comments__bg-image {
  display: none;
  width: 537px;
}

@media print, screen and (min-width: 768px) {
  .p-comments__bg-image {
    position: absolute;
    top: 125px;
    right: 0;
    z-index: 19;
    display: block;
  }
}

/* ================================================================
  コンタクトフォーム
   ================================================================ */
.p-contact {
  padding: 40px 0;
  background: url(../img/alex-blajan-159378-unsplash@2x.png) no-repeat center/cover;
}

@media print, screen and (min-width: 768px) {
  .p-contact {
    padding: 80px 0;
  }
}

.p-contact__container {
  width: 100%;
  max-width: calc((343 / 375) * 100%);
  margin: auto;
  background: #fff;
  border-radius: 12px;
}

@media print, screen and (min-width: 768px) {
  .p-contact__container {
    width: 95%;
    max-width: 960px;
  }
}

.p-contact__text-container {
  height: 160px;
  padding: 32px 16px 36px;
  background: url(../img/contact1@2x.png) no-repeat center;
  border-radius: 12px 12px 0 0;
  -webkit-box-shadow: 0 3px 6px #00000029;
  box-shadow: 0 3px 6px #00000029;
}

@media print, screen and (min-width: 768px) {
  .p-contact__text-container {
    height: 200px;
    padding: 62px 0;
  }
}

.p-contact__section-title {
  margin-bottom: 5px;
  color: #fff;
}

@media print, screen and (min-width: 768px) {
  .p-contact__section-title {
    margin-bottom: 12px;
  }
}

.p-contact__text {
  line-height: calc(26 / 14);
  color: #fff;
}

@media print, screen and (min-width: 768px) {
  .p-contact__text {
    font-size: 1.6rem;
    line-height: calc(22 / 16);
    text-align: center;
  }
}

.p-contact__error-list {
  padding: 10px 30px;
  margin-bottom: 30px;
  font-size: 1.9rem;
  color: #ff2e5a;
  text-align: left;
  border: 1px solid #ff2e5a;
  border-radius: 5px;
}

.p-contact__form {
  padding: 36px 16px;
  margin: auto;
}

@media print, screen and (min-width: 768px) {
  .p-contact__form {
    width: 100%;
    max-width: calc(780 / 960 * 100%);
    padding: 58px 0;
  }
}

.p-contact__label {
  position: relative;
  display: block;
  margin-bottom: 9px;
  font-size: 1.6rem;
  color: #3e3e3e;
  letter-spacing: 0;
}

@media print, screen and (min-width: 768px) {
  .p-contact__label {
    min-width: 276px;
    font-size: 2.2rem;
  }
}

.p-contact__select-container {
  position: relative;
}

@media print, screen and (min-width: 768px) {
  .p-contact__select-container {
    width: 261px;
  }
}

.p-contact__select-container::after {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  width: 9px;
  height: 9px;
  content: "";
  border-top: 2px solid #3e3e3e;
  border-right: 2px solid #3e3e3e;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.p-contact__select-container select {
  width: 100%;
  height: 32px;
  padding-left: 9px;
  line-height: 32px;
  border: 1px solid #707070;
  outline: none;
}

@media print, screen and (min-width: 768px) {
  .p-contact__select-container select:hover {
    -webkit-box-shadow: 0 0 3px 2px #e6eeff;
    box-shadow: 0 0 3px 2px #e6eeff;
  }
}

.p-contact__label-required {
  display: inline-block;
  width: 50px;
  height: 22px;
  margin-left: 16px;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  background: #ff4646;
  border-radius: 5px;
}

@media print, screen and (min-width: 768px) {
  .p-contact__label-required {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 16px;
  }
}

.p-contact__form-parts-container {
  margin-bottom: 38px;
}

@media print, screen and (min-width: 768px) {
  .p-contact__form-parts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
  }
}

.p-contact__textbox {
  display: block;
  width: 100%;
  padding: 0 0 2px 10px;
  border-bottom: 1px solid #707070;
  outline: none;
}

@media print, screen and (min-width: 768px) {
  .p-contact__textbox {
    width: 505px;
    height: 34px;
    font-size: 2.2rem;
  }
}

.p-contact__label--sex {
  margin-bottom: 4px;
}

.p-contact__radio-button-container {
  display: block;
}

.p-contact__radio {
  margin-right: 11px;
}

@media print, screen and (min-width: 768px) {
  .p-contact__radio-label {
    font-size: 2rem;
  }
}

.p-contact__radio-label:last-child {
  margin-left: 91px;
}

@media print, screen and (min-width: 768px) {
  .p-contact__radio-label:last-child {
    margin-left: 56px;
  }
}

.p-contact__message {
  margin-bottom: 18px;
}

@media print, screen and (min-width: 768px) {
  .p-contact__message {
    margin-bottom: 27px;
  }
}

.p-contact__message textarea {
  display: block;
  width: 100%;
  height: 160px;
  resize: none;
  border: 1px solid #707070;
  outline: none;
}

@media print, screen and (min-width: 768px) {
  .p-contact__message textarea {
    height: 213px;
  }
}

.p-contact__agree {
  margin-bottom: 18px;
}

@media print, screen and (min-width: 768px) {
  .p-contact__agree {
    margin-bottom: 28px;
  }
}

.p-contact__agree-text {
  position: relative;
  padding-left: 38px;
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 500;
}

@media print, screen and (min-width: 768px) {
  .p-contact__agree-text {
    padding-left: 40px;
    font-size: 1.8rem;
  }
}

.p-contact__agree-text input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 18px;
  height: 18px;
  margin: auto;
}

@media print, screen and (min-width: 768px) {
  .p-contact__agree-text input {
    width: 20px;
    height: 20px;
  }
}

.p-contact__button {
  width: 121px;
  margin: auto;
}

@media print, screen and (min-width: 768px) {
  .p-contact__button {
    width: 174px;
    margin: 0 auto 0 0;
  }
}

.p-contact__button input {
  width: 100%;
}

/* ================================================================
  フッター
   ================================================================ */
.p-footer {
  width: 100%;
  height: 408px;
  padding: 60px 0 92px;
  margin: 0 auto;
  background: #3e3e3e;
}

@media print, screen and (min-width: 768px) {
  .p-footer {
    height: 425px;
    padding: 120px 0 92px;
  }
}

@media print, screen and (min-width: 768px) {
  .p-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: calc(1180 / 1366 * 100%);
    margin: auto;
  }
}

.p-footer__left-column {
  width: 100%;
  margin: auto;
}

@media print, screen and (min-width: 768px) {
  .p-footer__left-column {
    width: 50%;
    margin: 0;
  }
}

.p-footer__right-column {
  width: 100%;
  margin: auto;
}

@media print, screen and (min-width: 768px) {
  .p-footer__right-column {
    width: 50%;
    margin: 0;
  }
}

.p-footer__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(206 / 375 * 100%);
  margin: 0 auto 36px;
}

@media print, screen and (min-width: 768px) {
  .p-footer__icon-container {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    margin: 0 0 39px;
  }
}

.p-footer__icon-container a {
  text-decoration: none;
}

.p-footer__sns-icon {
  display: block;
  font-size: 3.6rem;
  color: #fff;
  opacity: 0.6;
}

@media print, screen and (min-width: 768px) {
  .p-footer__sns-icon {
    margin-right: 20px;
  }
}

.p-footer__link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(255 / 375 * 100%);
  margin: 0 auto 58px;
}

@media print, screen and (min-width: 768px) {
  .p-footer__link-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    margin: 0;
  }
}

.p-footer__link-container a {
  display: block;
  margin: 0 auto 18px;
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.035em;
}

@media print, screen and (min-width: 768px) {
  .p-footer__link-container a {
    margin: 0 0 14px;
    font-size: 1.8rem;
    letter-spacing: 0.045em;
  }
}

.p-footer__logo-container {
  margin: auto;
}

@media print, screen and (min-width: 768px) {
  .p-footer__logo-container {
    padding-top: 48px;
  }
}

.p-footer__logo {
  display: block;
  margin-bottom: 7px;
  font-size: 3.4rem;
  color: #e3e3e3;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

@media print, screen and (min-width: 768px) {
  .p-footer__logo {
    margin-bottom: 19px;
    font-size: 4.4rem;
    text-align: right;
  }
}

.p-footer__copyright {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
  opacity: 0.6;
}

@media print, screen and (min-width: 768px) {
  .p-footer__copyright {
    text-align: right;
  }
}

.page-top {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 100;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #fff;
  opacity: 0.8;
}

@media print, screen and (min-width: 768px) {
  .page-top {
    right: 93px;
    bottom: 39px;
  }
}

.page-top::after {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 19px;
  height: 19px;
  margin: auto;
  content: "";
  border-top: 3px solid #3e3e3e;
  border-right: 3px solid #3e3e3e;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* ================================================================
  ヘッダー
   ================================================================ */
.p-header {
  position: relative;
  z-index: 100;
  height: 68px;
  background: #fff;
}

@media print, screen and (min-width: 768px) {
  .p-header {
    height: 80px;
    background: transparent;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .p-header.visible {
    background: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
}

.p-header__logo {
  position: absolute;
  top: 22px;
  left: 16px;
  width: 200px;
}

@media print, screen and (min-width: 768px) {
  .p-header__logo {
    display: none;
  }
}

.p-header__logo a {
  display: block;
}

.p-header__logo img {
  display: block;
}

.p-header__nav {
  position: absolute;
  top: 0;
  right: -300px;
  z-index: 102;
  width: 300px;
  background: #fff;
}

@media print, screen and (min-width: 768px) {
  .p-header__nav {
    position: static;
    width: 100%;
    background: transparent;
  }
}

.p-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  list-style: none;
}

@media print, screen and (min-width: 768px) {
  .p-header__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 80px;
  }
}

.p-header__item {
  margin-bottom: 20px;
}

@media print, screen and (min-width: 768px) {
  .p-header__item {
    padding-bottom: 3px;
    margin: 0 22px 0 22px;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .p-header__item:hover {
    border-bottom: 1px solid #3e3e3e;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.p-header__item a {
  font-size: 1.8rem;
  font-weight: 500;
  color: #3e3e3e;
  text-decoration: none;
  letter-spacing: -0.045em;
}

@media print, screen and (min-width: 768px) {
  .p-header__item a {
    font-size: 1.6rem;
    letter-spacing: -0.04em;
  }
}

.p-header__hamburger-menu {
  position: absolute;
  top: 24px;
  right: 16px;
}

@media print, screen and (min-width: 768px) {
  .p-header__hamburger-menu {
    display: none;
  }
}

.p-header__close-button {
  position: absolute;
  top: 21px;
  left: -36px;
  z-index: 102;
  display: none;
}

.p-header__nav-filter {
  position: fixed;
  top: 0;
  z-index: 101;
  display: none;
  width: 100vw;
  height: 100vh;
  background: #3e3e3e;
  opacity: 0.7;
}

/* ================================================================
  メインビジュアル
   ================================================================ */
.p-main-visual {
  position: relative;
  z-index: 10;
  height: 667px;
  background: url(../img/mv@2x.png) no-repeat left/cover;
}

@media print, screen and (min-width: 768px) {
  .p-main-visual {
    height: 648px;
  }
}

.p-main-visual__catch-container {
  position: absolute;
  top: 199px;
  right: 0;
  left: 0;
  width: 100%;
  max-width: calc(336 / 375 * 100%);
  margin: auto;
}

@media print, screen and (min-width: 768px) {
  .p-main-visual__catch-container {
    width: 633px;
    padding: 18px 109px 0 0;
    margin: 0 0 0 auto;
  }
}

.p-main-visual__catch-main {
  margin-bottom: 31px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: calc(45 / 24);
  color: #3e3e3e;
  letter-spacing: 0.002em;
  white-space: nowrap;
}

@media print, screen and (min-width: 768px) {
  .p-main-visual__catch-main {
    margin-bottom: 36px;
    font-size: 3rem;
    line-height: 1.5;
  }
}

.p-main-visual__catch-sub {
  margin-bottom: 40px;
  font-size: 1.6rem;
  line-height: calc(26 / 16);
  color: #3e3e3e;
  letter-spacing: 0.01em;
}

@media print, screen and (min-width: 768px) {
  .p-main-visual__catch-sub {
    font-size: 1.8rem;
    line-height: calc(26 / 18);
    letter-spacing: 0.025em;
  }
}

.p-main-visual__contact-button {
  width: 232px;
  height: 50px;
  margin: auto;
}

@media print, screen and (min-width: 768px) {
  .p-main-visual__contact-button {
    width: 280px;
    margin: 0 auto 0 0;
  }
}

/* ================================================================
  newsコンテンツ
   ================================================================ */
.p-news {
  padding-bottom: 60px;
  background-color: #f3f3f3;
}

@media print, screen and (min-width: 768px) {
  .p-news {
    padding: 130px 0;
  }
}

.p-news__container {
  position: relative;
  z-index: 20;
  max-width: calc((343 / 375) * 100%);
  padding: 40px 0;
  margin: -40px auto 0;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 12px #3e3e3e33;
  box-shadow: 0 5px 12px #3e3e3e33;
}

@media print, screen and (min-width: 768px) {
  .p-news__container {
    max-width: calc(1180 / 1366 * 100%);
    padding: 60px 50px 40px;
    margin: 0 auto;
  }
}

.p-news__section-title {
  margin-bottom: 40px;
}

@media print, screen and (min-width: 768px) {
  .p-news__section-title {
    margin-bottom: 60px;
  }
}

.p-news__content {
  position: relative;
  padding: 13px 47px 14px 16px;
  border-top: 1px solid #cecdcd;
}

.p-news__content:last-child {
  border-bottom: 1px solid #cecdcd;
}

@media print, screen and (min-width: 768px) {
  .p-news__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 37px 50px 39px 10px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .p-news__content:hover {
    background-color: #e6eeff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.p-news__content::after {
  position: absolute;
  top: 0;
  right: 13px;
  bottom: 0;
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  content: "";
  border-top: 3px solid #3e3e3e;
  border-right: 3px solid #3e3e3e;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.p-news__content-link {
  text-decoration: none;
}

.p-news__content-time-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
}

@media print, screen and (min-width: 768px) {
  .p-news__content-time-icon {
    min-width: 227px;
    margin-bottom: 0;
  }
}

.p-news__content-time {
  letter-spacing: 0.035em;
  white-space: nowrap;
}

.p-news__content-icon-1 {
  display: inline;
  min-width: 89px;
  height: 24px;
  margin-left: 20px;
  font-size: 1.2rem;
  color: #3e3e3e;
  text-align: center;
  letter-spacing: 0.03em;
  background: #fff;
  border: 2px solid #3b69ff;
  border-radius: 50px;
}

@media print, screen and (min-width: 768px) {
  .p-news__content-icon-1 {
    min-width: 125px;
    height: 28px;
    margin-left: 58px;
    font-size: 1.4rem;
    line-height: 28px;
  }
}

.p-news__content-text {
  font-weight: 500;
  line-height: calc(22 / 14);
  letter-spacing: -0.035rem;
}

@media print, screen and (min-width: 768px) {
  .p-news__content-text {
    width: 697px;
    margin-left: 66px;
    letter-spacing: 0.045rem;
  }
}

.p-news__button {
  margin: 40px auto 0;
  border: 1px solid #707070;
}

@media print, screen and (min-width: 768px) {
  .p-news__button {
    width: 248px;
    height: 64px;
  }
}

.p-news__button a {
  color: #3e3e3e;
}

@media print, screen and (min-width: 768px) {
  .p-news__button a {
    line-height: 64px;
  }
}

/* ================================================================
  priceコンテンツ
   ================================================================ */
.p-price {
  position: relative;
  padding: 40px 0 118px;
  background-color: #f3f3f3;
}

@media print, screen and (min-width: 768px) {
  .p-price {
    padding: 80px 0 130px;
  }
}

.p-price__inner {
  width: calc((343 / 375) * 100%);
  max-width: 960px;
  margin: auto;
}

@media print, screen and (min-width: 768px) {
  .p-price__inner {
    max-width: 960px;
  }
}

.p-price__section-title {
  margin-bottom: 40px;
}

@media print, screen and (min-width: 768px) {
  .p-price__section-title {
    margin-bottom: 80px;
  }
}

.p-price__table {
  width: 100%;
  margin: 0 auto 11px;
  border-collapse: collapse;
  border: 1px solid #707070;
}

@media print, screen and (min-width: 768px) {
  .p-price__table {
    margin: 0 auto 22px;
  }
}

.p-price__table-row {
  height: 60px;
  border-bottom: 1px solid #707070;
}

@media print, screen and (min-width: 768px) {
  .p-price__table-row {
    height: 59px;
  }
}

.p-price__table-header {
  width: calc(103 / 343 * 100%);
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background-color: #3e3e3e;
}

@media print, screen and (min-width: 768px) {
  .p-price__table-header {
    font-size: 2.4rem;
    letter-spacing: 0.07em;
  }
}

.p-price__table-data {
  width: calc(240 / 343 * 100%);
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #3e3e3e;
  background-color: #fff;
}

@media print, screen and (min-width: 768px) {
  .p-price__table-data {
    padding-left: 40px;
    font-size: 2.4rem;
  }
}

.p-price__notice {
  display: block;
  margin: auto;
  font-size: 1.2rem;
  color: #3e3e3e;
}

/* ================================================================
  QandAコンテンツ
   ================================================================ */
.p-qanda {
  padding: 40px 0;
  background: url(../img/sunyu-kim-1053375-unsplash@2x.png) no-repeat center/cover;
}

@media print, screen and (min-width: 768px) {
  .p-qanda {
    padding: 80px 0;
  }
}

.p-qanda__inner {
  width: 100%;
  max-width: calc(1147 / 1366 * 100%);
  margin: auto;
}

.p-qanda__container {
  width: 100%;
  max-width: calc((343 / 375) * 100%);
  padding: 22px 18px;
  margin: 0 auto 30px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 7px;
}

@media print, screen and (min-width: 768px) {
  .p-qanda__container {
    max-width: 616px;
    padding: 18px;
    margin: 0 0 40px auto;
  }
}

.p-qanda__section-title {
  margin: 0 auto 40px;
}

@media print, screen and (min-width: 768px) {
  .p-qanda__section-title {
    margin: 0 auto 80px;
  }
}

.p-qanda__content-question-container {
  position: relative;
}

.p-qanda__content-question-mark {
  display: inline-block;
  width: 26px;
  height: 26px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
  text-align: center;
  vertical-align: top;
  background-color: #3b69ff;
  border-radius: 50px;
}

.p-qanda__content-question-text {
  display: inline-block;
  margin-left: 13px;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.p-qanda__content-question-cross-line {
  position: absolute;
  top: 10px;
  right: 0;
  width: 15px;
  height: 3px;
  background: #3b69ff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.p-qanda__content-question-cross-line:nth-child(2) {
  top: 4px;
  right: 6px;
  width: 3px;
  height: 15px;
}

.p-qanda__content-question-cross-line:nth-child(2).active {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.p-qanda__content-answer-text {
  display: none;
  padding: 18px 14px;
  margin-top: 19px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: calc(26 / 16);
  background-color: #3b69ff33;
  border-radius: 7px;
}

/* ================================================================
  resultsコンテンツ
   ================================================================ */
.p-results {
  overflow: hidden;
  background: #f3f3f3;
}

.p-results__inner {
  width: 100%;
  padding: 40px 0;
  background: #3e3e3e;
}

@media print, screen and (min-width: 768px) {
  .p-results__inner {
    padding: 80px 0 80px 110px;
    margin: 0 0 0 93px;
  }
}

.p-results__section-title {
  margin-bottom: 40px;
  color: #fff;
}

@media print, screen and (min-width: 768px) {
  .p-results__section-title {
    margin-bottom: 80px;
    text-align: left;
  }
}

.p-results__swiper-content {
  width: 276px;
  margin-right: 25px;
}

@media print, screen and (min-width: 768px) {
  .p-results__swiper-content {
    width: 421px;
    margin-right: 41px;
  }
}

.p-results__swiper-text-container {
  padding: 12px 12px 14px;
  background: #fff;
}

@media print, screen and (min-width: 768px) {
  .p-results__swiper-text-container {
    padding: 20px 16px 20px 20px;
  }
}

.p-results__swiper-title {
  margin-bottom: 8px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #3e3e3e;
  letter-spacing: 0.001em;
}

@media print, screen and (min-width: 768px) {
  .p-results__swiper-title {
    margin-bottom: 14px;
    font-size: 2rem;
  }
}

.p-results__swiper-text {
  font-size: 1.2rem;
  line-height: calc(20 / 12);
  color: #3e3e3e;
  letter-spacing: 0.001em;
}

@media print, screen and (min-width: 768px) {
  .p-results__swiper-text {
    font-size: 1.6rem;
    line-height: calc(24 / 16);
  }
}

.p-results__button {
  width: 343px;
  margin: 66px auto 0;
  border: 1px solid #707070;
}

@media print, screen and (min-width: 768px) {
  .p-results__button {
    width: 301px;
    height: 64px;
    margin: 75px 0 0;
  }
}

.p-results__button a {
  color: #fff;
}

@media print, screen and (min-width: 768px) {
  .p-results__button a {
    line-height: 64px;
  }
}

.p-results .slick-track {
  margin: 0 0 18px 16px;
}

@media print, screen and (min-width: 768px) {
  .p-results .slick-track {
    margin: 0 0 43px 0;
  }
}

@media print, screen and (min-width: 768px) {
  .p-results .slick-dots {
    text-align: left;
  }
}

/* ================================================================
  serviceコンテンツ
   ================================================================ */
.p-service {
  height: 928px;
  background-color: #f3f3f3;
}

@media print, screen and (min-width: 768px) {
  .p-service {
    height: 655px;
  }
}

.p-service__inner {
  height: 480px;
  padding: 40px 0;
  background-color: #3e3e3e;
}

@media print, screen and (min-width: 768px) {
  .p-service__inner {
    height: 400px;
    padding: 80px 0;
  }
}

.p-service__section-title {
  margin-bottom: 40px;
  color: #fff;
}

@media print, screen and (min-width: 768px) {
  .p-service__section-title {
    margin-bottom: 80px;
  }
}

.p-service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: calc((343 / 375) * 100%);
  padding: 40px 16px 38px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 12px #3e3e3e33;
  box-shadow: 0 5px 12px #3e3e3e33;
}

@media print, screen and (min-width: 768px) {
  .p-service__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: calc(960 / 1366 * 100%);
    padding: 55px 48px 0;
  }
}

.p-service__content {
  margin-bottom: 62px;
}

.p-service__content:nth-child(2) {
  margin-bottom: 64px;
}

@media print, screen and (min-width: 768px) {
  .p-service__content:nth-child(2) {
    margin: 0 5px 64px;
  }
}

.p-service__content:last-child {
  margin-bottom: 0;
}

@media print, screen and (min-width: 768px) {
  .p-service__content {
    width: 231px;
    min-width: 160px;
    margin-bottom: 0;
  }
}

.p-service__content-image--1 {
  margin-bottom: 18px;
  text-align: center;
}

.p-service__content-image--2 {
  position: relative;
  height: 39px;
  margin-bottom: 27px;
  text-align: center;
  vertical-align: bottom;
}

.p-service__content-image--2 img {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.p-service__content-image--3 {
  position: relative;
  height: 39px;
  margin-bottom: 27px;
  text-align: center;
  vertical-align: bottom;
}

.p-service__content-image--3 img {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.p-service__content-title {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: calc(24 / 18);
  color: #3e3e3e;
  text-align: center;
  letter-spacing: 0.2em;
}

@media print, screen and (min-width: 768px) {
  .p-service__content-title {
    margin-bottom: 15px;
    font-size: 2rem;
    line-height: calc(30 / 20);
    letter-spacing: 0.2em;
  }
}

.p-service__content-text {
  line-height: calc(24 / 14);
  letter-spacing: 0.001em;
}

@media print, screen and (min-width: 768px) {
  .p-service__content-text {
    font-size: 1.4rem;
  }
}
