/* ===================================================================
  ボタンコンポーネント
   =================================================================== */

.c-button--contact {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  background-color: $color-button-contact;
  border-radius: 10px;
  box-shadow: 0 3px 5px #3e3e3e33;

  @include mq(pc) {
    transition: 0.4s;

    &:hover {
      background: #ff9100;
      transition: 0.4s;
    }
  }

  a,
  input {
    display: block;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.03em;
    border-radius: 10px;
  }
}

.c-button--default-white-letter {
  width: 311px;
  height: 54px;
  text-align: center;
  background: #3e3e3e;
  transition: 0.4s;

  @include mq(pc) {
    &:hover {
      background: #fff;
      transition: 0.4s;
    }
  }

  a {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 54px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.36em;
    transition: 0.4s;

    @include mq(pc) {
      &:hover {
        color: #3e3e3e;
        transition: 0.4s;
      }
    }
  }
}

.c-button--default-black-letter {
  width: 311px;
  height: 54px;
  text-align: center;
  background: #fff;
  transition: 0.4s;

  @include mq(pc) {
    &:hover {
      background: #3e3e3e;
      transition: 0.4s;
    }
  }

  a {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 54px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.36em;
    transition: 0.4s;

    @include mq(pc) {
      &:hover {
        color: #fff;
        transition: 0.4s;
      }
    }
  }
}
