/* ===================================================================
  テキストコンポーネント
   =================================================================== */

.c-text {
  font-size: 1.4rem;
  font-weight: 400;
  color: $color-text;

  &__section-title {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: $color-text-section-title;
    text-align: center;
    letter-spacing: 0;
  }

  &__section-subtitle {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2;
    color: $color-text-section-subtitle;
    letter-spacing: 0.1em;

    @include mq(pc) {
      margin-bottom: 30px;
      font-size: 2.4rem;
    }
  }
}
