<!-- コンタクトフォーム用PHPここから -->
<?php
session_start();

// クリックジャッキング対策
header('X-FRAME-OPTIONS: SAMEORIGIN');
$clean = array();
$error = array();

// トークン生成
if (!isset($_SESSION['token'])) {
  $_SESSION['token'] = sha1(random_bytes(30));
}

// サニタイズ
if(!empty($_POST)) {
  foreach($_POST as $key => $value) {
    $clean[$key] = htmlspecialchars($value, ENT_QUOTES,'UTF-8');
  }
}

// 前後にある半角全角スペースを削除する関数
function spaceTrim ($str) {
  // 行頭
  $str = preg_replace('/^[ 　]+/u', '', $str);
  // 末尾
  $str = preg_replace('/[ 　]+$/u', '', $str);
  return $str;
}
?>
<!-- コンタクトフォーム用PHPここまで -->

<%# 相対パス %>
<% path = '.'; %>
<%# ナビゲーションリンクのパス %>
<% scrollPath = ''; %>
<%# ヘッダー読み込み %>
<%- include('common/_header'); %>
<main class="l-main">
  <!-- メインビジュアルここから -->
  <div class="p-main-visual">
    <div class="p-main-visual__catch">
      <p>Cresta Design.</p>
    </div>
  </div>
  <!-- メインビジュアルここから -->
  <!-- aboutコンテンツここから -->
  <div id="about" class="p-about">
    <div class="p-about__inner">
      <h2 class="c-text__section-title">About</h2>
      <h3 class="c-text__section-subtitle">
        ミニマルで<br>
        洗練されたデザインを。
      </h3>
      <p class="c-text">
        近年、ミニマルなデザインが流行しています。そこで弊社では、クライアント企業様新規サービス等の課題に対してミニマルで洗練されたデザインを実現させることで解決のサポートを致します。もちろん全てのサービスにおいてミニマルなデザインが課題解決になるわけではないので、課題や今後のサービスの展開等しっかりとヒアリングを行なった上でご提案させて頂きます。
      </p>
    </div>
  </div>
  <!-- aboutコンテンツここまで -->
  <!-- serviceコンテンツここから -->
  <div id="service" class="p-service">
    <div class="p-service__inner">
      <h2 class="p-service__section-title c-text__section-title">Service</h2>
      <div class="p-service__container">
        <div class="p-service__text-container">
          <h3 class="p-service__subtitle c-text__sectionSubTitle">
            リリース時のサポートで<br>
            サービスのブランディングを
          </h3>
          <p class="p-service__text c-text">
            弊社では、リリース時もサポートさせて頂きます。プレスリリース用のサイトや動画制作を通して、サービスのブランディングを行わせて頂きます。
          </p>
        </div>
        <div class="p-service__image">
          <img src="img/service-image@2x.jpg" alt="">
        </div>
      </div>
      <div class="p-service__container">
        <div class="p-service__text-container">
          <h3 class="p-service__subtitle c-text__section-subtitle">
            リリース後のサポートで<br>
            効果を最大化させる
          </h3>
          <p class="p-service__text c-text">
            弊社では、リリース後もサポートさせて頂きます。サービスはリリース後に様々な課題にぶつかります。そこでクライアント様と一緒に改善を行うことで、デザインの効果を最大化させます。
          </p>
        </div>
        <div class="p-service__image">
          <img src="img/service-image02@2x.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- serviceコンテンツここまで -->
  <!-- newsコンテンツここから -->
  <div id="news" class="p-news">
    <div class="p-news__inner">
      <h2 class="c-text__section-title">News</h2>
      <div class="p-news__container">
        <div class="p-news__card c-card">
          <div class="c-card__image">
            <img src="img/card-image1@2x.jpg" alt="">
          </div>
          <p class="c-card__text">
            新規サイトを公開しました。今回のサイトは白と黒を基調にしたミニマルなデザインになっています。
          </p>
        </div>
        <div class="p-news__card c-card">
          <div class="c-card__image">
            <img src="img/card-image2@2x.jpg" alt="">
          </div>
          <p class="c-card__text">
            新規サイトを公開しました。今回のサイトは白と黒を基調にしたミニマルなデザインになっています。
          </p>
        </div>
        <div class="p-news__card c-card">
          <div class="c-card__image">
            <img src="img/card-image3@2x.jpg" alt="">
          </div>
          <p class="c-card__text">
            新規サイトを公開しました。今回のサイトは白と黒を基調にしたミニマルなデザインになっています。
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- newsコンテンツここまで -->
  <!-- コンタクトフォームここから -->
  <div id="contact" class="p-contact">
    <div class="p-contact__inner">
      <h2 class="p-contact__section-title c-text__section-title">お問い合わせ</h2>
      <form action="contact/index.php" method="post">
        <input type="hidden" name="token" value="<?= $_SESSION['token'] ?>">
        <div>
          <label for="name">担当者名</label><br>
          <input class="p-contact__textbox" type="text" id="name" name="name" required />
        </div>
        <div>
          <label for="tel">電話番号</label><br>
          <input class="p-contact__textbox" type="text" id="tel" name="tel" required />
        </div>
        <div>
          <label for="email">メールアドレス</label><br>
          <input class="p-contact__textbox" type="text" id="email" name="email" required />
        </div>
        <div class="p-contact__textarea">
          <label for="message">お問い合わせ内容</label><br>
          <textarea id="message" name="message" required></textarea>
        </div>
        <div class="p-contact__button c-button--default">
          <input type="submit" name="confirmation" value="確認画面へ">
        </div>
      </form>
    </div>
  </div>
  <!-- コンタクトフォームここまで -->
</main>
<%# フッター読み込み %>
<%- include('common/_footer'); %>