/* ================================================================
  aboutコンテンツ
   ================================================================ */

.p-about {
  padding-top: 100px;

  &__inner {
    max-width: $max-width-inner-sp;
    margin: 0 auto;

    @include mq(pc) {
      max-width: $max-width-inner-pc;
    }
  }
}
