/* ================================================================
  commentsコンテンツ
   ================================================================ */

.p-comments {
  position: relative;
  height: 510px;
  background: $color-base-bg;

  @include mq(pc) {
    height: 746px;
  }

  &__bg {
    position: absolute;
    top: 60px;
    width: 100vw;
    height: 450px;
    background: $color-comments-bg;

    @include mq(pc) {
      top: 150px;
      z-index: 10;
      width: 100%;
      max-width: 980px;
      height: 596px;
    }
  }

  &__inner {
    @include mq(pc) {
      position: relative;
      max-width: 1180px;
      margin: auto;
    }
  }

  &__container {
    position: relative;
    z-index: 20;
    max-width: $max-width-inner-sp;
    padding: 40px 20px 9px;
    margin: -60px auto 0;
    background-color: #fff;
    box-shadow: 0 0 10px #00000029;

    @include mq(pc) {
      max-width: 644px;
      padding: 80px 40px 52px;
      margin: 0;
    }
  }

  &__section-title {
    width: 100%;
    margin: 0 auto 40px;
    text-align: left;

    @include mq(pc) {
      margin: 0 auto 80px;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    margin: 0 auto 30px;

    @include mq(pc) {
      margin: 0 auto 76px;
    }
  }

  &__content-image {
    width: 56px;

    @include mq(pc) {
      width: 100px;
    }
  }

  &__content-text {
    width: calc(221 / 301 * 100%);
    margin-left: 24px;
    font-size: 1.4rem;
    line-height: calc(22 / 14);

    @include mq(pc) {
      width: 414px;
      margin-left: 50px;
      font-size: 1.6rem;
      line-height: calc(26 / 16);
    }
  }

  &__bg-image {
    display: none;
    width: 537px;

    @include mq(pc) {
      position: absolute;
      top: 125px;
      right: 0;
      z-index: 19;
      display: block;
    }
  }
}
