/* ================================================================
  newsコンテンツ
   ================================================================ */

.p-news {
  padding-bottom: 60px;
  background-color: #f3f3f3;

  @include mq(pc) {
    padding: 130px 0;
  }

  &__container {
    position: relative;
    z-index: 20;
    max-width: $max-width-inner-sp;
    padding: 40px 0;
    margin: -40px auto 0;
    background-color: #fff;
    box-shadow: 0 5px 12px #3e3e3e33;

    @include mq(pc) {
      max-width: calc(1180 / 1366 * 100%);
      padding: 60px 50px 40px;
      margin: 0 auto;
    }
  }

  &__section-title {
    margin-bottom: 40px;

    @include mq(pc) {
      margin-bottom: 60px;
    }
  }

  &__content {
    position: relative;
    padding: 13px 47px 14px 16px;
    border-top: 1px solid #cecdcd;

    &:last-child {
      border-bottom: 1px solid #cecdcd;
    }

    @include mq(pc) {
      display: flex;
      padding: 37px 50px 39px 10px;
      transition: 0.4s;

      &:hover {
        background-color: #e6eeff;
        transition: 0.4s;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      right: 13px;
      bottom: 0;
      display: block;
      width: 18px;
      height: 18px;
      margin: auto;
      content: "";
      border-top: 3px solid #3e3e3e;
      border-right: 3px solid #3e3e3e;
      transform: rotate(45deg);
    }
  }

  &__content-link {
    text-decoration: none;
  }

  &__content-time-icon {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    @include mq(pc) {
      min-width: 227px;
      margin-bottom: 0;
    }
  }

  &__content-time {
    letter-spacing: 0.035em;
    white-space: nowrap;
  }

  &__content-icon-1 {
    display: inline;
    min-width: 89px;
    height: 24px;
    margin-left: 20px;
    font-size: 1.2rem;
    color: $color-text;
    text-align: center;
    letter-spacing: 0.03em;
    background: #fff;
    border: 2px solid #3b69ff;
    border-radius: 50px;

    @include mq(pc) {
      min-width: 125px;
      height: 28px;
      margin-left: 58px;
      font-size: 1.4rem;
      line-height: 28px;
    }
  }

  &__content-text {
    font-weight: 500;
    line-height: calc(22 / 14);
    letter-spacing: -0.035rem;

    @include mq(pc) {
      width: 697px;
      margin-left: 66px;
      letter-spacing: 0.045rem;
    }
  }

  &__button {
    margin: 40px auto 0;
    border: 1px solid $color-button-default;

    @include mq(pc) {
      width: 248px;
      height: 64px;
    }

    a {
      color: $color-text;

      @include mq(pc) {
        line-height: 64px;
      }
    }
  }
}
