/* ================================================================
  priceコンテンツ
   ================================================================ */

.p-price {
  position: relative;
  padding: 40px 0 118px;
  background-color: $color-base-bg;

  @include mq(pc) {
    padding: 80px 0 130px;
  }

  &__inner {
    width: $max-width-inner-sp;
    max-width: 960px;
    margin: auto;

    @include mq(pc) {
      max-width: 960px;
    }
  }

  &__section-title {
    margin-bottom: 40px;

    @include mq(pc) {
      margin-bottom: 80px;
    }
  }

  &__table {
    width: 100%;
    margin: 0 auto 11px;
    border-collapse: collapse;
    border: 1px solid #707070;

    @include mq(pc) {
      margin: 0 auto 22px;
    }
  }

  &__table-row {
    height: 60px;
    border-bottom: 1px solid #707070;

    @include mq(pc) {
      height: 59px;
    }
  }

  &__table-header {
    width: calc(103 / 343 * 100%);
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    background-color: #3e3e3e;

    @include mq(pc) {
      font-size: 2.4rem;
      letter-spacing: 0.07em;
    }
  }

  &__table-data {
    width: calc(240 / 343 * 100%);
    padding-left: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #3e3e3e;
    background-color: #fff;

    @include mq(pc) {
      padding-left: 40px;
      font-size: 2.4rem;
    }
  }

  &__notice {
    display: block;
    margin: auto;
    font-size: 1.2rem;
    color: $color-text;
  }
}
