/* ================================================================
  resultsコンテンツ
   ================================================================ */

.p-results {
  overflow: hidden;
  background: $color-base-bg;

  &__inner {
    width: 100%;
    padding: 40px 0;
    background: $color-results-bg;

    @include mq(pc) {
      padding: 80px 0 80px 110px;
      margin: 0 0 0 93px;
    }
  }

  &__section-title {
    margin-bottom: 40px;
    color: #fff;

    @include mq(pc) {
      margin-bottom: 80px;
      text-align: left;
    }
  }

  &__swiper-content {
    width: 276px;
    margin-right: 25px;

    @include mq(pc) {
      width: 421px;
      margin-right: 41px;
    }
  }

  &__swiper-text-container {
    padding: 12px 12px 14px;
    background: #fff;

    @include mq(pc) {
      padding: 20px 16px 20px 20px;
    }
  }

  &__swiper-title {
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #3e3e3e;
    letter-spacing: 0.001em;

    @include mq(pc) {
      margin-bottom: 14px;
      font-size: 2rem;
    }
  }

  &__swiper-text {
    font-size: 1.2rem;
    line-height: calc(20 / 12);
    color: #3e3e3e;
    letter-spacing: 0.001em;

    @include mq(pc) {
      font-size: 1.6rem;
      line-height: calc(24 / 16);
    }
  }

  &__button {
    width: 343px;
    margin: 66px auto 0;
    border: 1px solid $color-button-default;

    @include mq(pc) {
      width: 301px;
      height: 64px;
      margin: 75px 0 0;
    }

    a {
      color: #fff;

      @include mq(pc) {
        line-height: 64px;
      }
    }
  }

  .slick-track {
    margin: 0 0 18px 16px;

    @include mq(pc) {
      margin: 0 0 43px 0;
    }
  }

  .slick-dots {
    @include mq(pc) {
      text-align: left;
    }
  }
}
