/* ================================================================
  serviceコンテンツ
   ================================================================ */

.p-service {
  height: 928px;
  background-color: #f3f3f3;

  &__inner {
    height: 480px;
    padding: 40px 0;
    background-color: $color-service-bg;
  }

  &__section-title {
    margin-bottom: 40px;
    color: #fff;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $max-width-inner-sp;
    padding: 40px 16px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 5px 12px #3e3e3e33;
  }

  &__content {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content-image {
    margin-bottom: 28px;
    text-align: center;
  }

  &__content-title {
    margin-bottom: 24px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: calc(24 / 18);
    color: #3e3e3e;
    text-align: center;
    letter-spacing: 0.036em;
  }

  &__content-text {
    line-height: calc(24 / 14);
    letter-spacing: 0.001;
  }
}
